/*basic block in the matrix*/
.block{
    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

/*basic color*/
.base{
    background-color: gray;
}
/*visited and selected*/
.visit{
    background-color: red;
}

/*visited but not selected*/
.visit-min{
    background-color:green;
}
/*updated cell*/
.update{
    transition: all 1s ease;
    background-color:pink;
}

