.label{
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.colno{
    font-size: 19px;
    color: darkgreen;
    text-align: center;
}

.heading{

    font-size: large;
    font-weight: bold;
}

.subheading{
    font-size: small;
    font-weight: bold;
}
.input{

    font-size: 20px;
}

.description{
    font-style: italic;
    font-size: 17px;
    color: green;
}