*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: white;
    padding: 10px;
    font-size: 20px;
    color: black;
}

section{
    display: -webkit-flex;
    display: flex;
    margin-left:  20px;
}

 /* Style the navigation menu */
 .desc {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background: #fcfcfc;
    padding: 20px;
  }
  .visual{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #f1f1f1;
    padding: 10px;
  }
  .smallsection{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #e6cccc;
    padding: 10px;
  }
  
   /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
   @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }